.sidebar-btn {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #1F1D2B;
    width: 100%;
    transition: all ease 0.5s;
    padding: 12px 24px;
    border-radius: 8px 0 0 8px;
    .btn-icon {
        padding: 12px;
        svg {
            fill: #EA7C69;
            transition: all ease 0.5s;
        }
        &::before {
            content: "";
            width: 12px;
            height: 12px;
            object-fit: contain;
            background-image: url(../../assets/images/Rectangle1.svg);
            position: absolute;
            top: -10px;
            right: 0;
        }
    }
    &:hover {
        background-color: #252836;
        position: relative;
        .btn-icon {
            background: #EA7C69;
            box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
            border-radius: 8px;
            svg {
                fill: #fff;
                transform: scale(1.2);
            }
        }
    }
}